<?xml version="1.0" encoding="UTF-8"?>  
    <beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xmlns:aop="http://www.springframework.org/schema/aop"  
        xmlns:tx="http://www.springframework.org/schema/tx"  
        xmlns:context="http://www.springframework.org/schema/context" 
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
        xmlns:websocket="http://www.springframework.org/schema/websocket"
        xsi:schemaLocation="http://www.springframework.org/schema/beans   
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
                            http://www.springframework.org/schema/aop   
                            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
                            http://www.springframework.org/schema/tx   
                            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
                            http://www.springframework.org/schema/context  
                            http://www.springframework.org/schema/context/spring-context-3.0.xsd
                            http://www.springframework.org/schema/websocket   
                            http://www.springframework.org/schema/websocket/spring-websocket.xsd"  
        default-lazy-init="false" default-autowire="byName">  
          
        <!-- 返回的json数据的编码  -->
   	   <bean id="jsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> 
        	<property name="supportedMediaTypes"> 
            	<list> 
            	  <value>text/html;charset=UTF-8</value>    
<!--                  <value>text/plain;charset=UTF-8</value>-->
<!--              	  <value>application/json</value> -->
          	  </list> 
       	   </property> 
   	   </bean> 
 	
 		<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter" >
    		 <property name="supportedMediaTypes">   
                     <list>   
                         <value>text/html;charset=UTF-8</value>    
                     </list>   
             </property> 
   		</bean>
   		
        <!-- 处理json数据转换的 -->
 		<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	        <property name="messageConverters">
	            <list>
	                <ref bean="stringHttpMessageConverter" />
	                <ref bean="jsonHttpMessageConverter" />
	            </list>
	        </property>
    	</bean>
    	
        <!-- 组件扫描  start-->  
        <context:component-scan base-package="com.ddz"/>
        
    	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
   		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/WEB-INF/jsp/" />
			<property name="suffix" value=".jsp" />
		</bean>
          
<!-- 		<bean id="websocket" class="com.mff.service.WebsocketEndPoint"/>  -->
<!--		<websocket:handlers allowed-origins="*">  -->
<!--		    <websocket:mapping path="/websocket" handler="websocket"/>  -->
<!--		    <websocket:handshake-interceptors>  -->
<!--		        <bean class="com.mff.interceptor.HandshakeInterceptor"/>  -->
<!--		    </websocket:handshake-interceptors>  -->
<!--		</websocket:handlers> -->

    </beans>  